/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/*Style */
*{
	box-sizing: border-box;
	text-decoration: none;
}
body{
	font: 16px/28px arial, sans-serif;
	background-image: url("bush/bush/bush.png");
}
.top-bar{
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: crimson;
	height: 40px;
	z-index: 1;
}
.top-bar{
	text-align: right;
	padding: 6px 15px;
	border-bottom:5px solid gold;
}

.top-bar ul li{
	display: inline-block;
}
.top-bar a{
	color: #fff;
	margin: 0 10px;
}
.Container {
	width: 1000px;
	margin:40px auto;
	color: #333;
	background-color: #fff;
	position: relative;
}
.twit{
	height: 200px;
	width: 200px;
	background-image: url(img/twit.png);
	display: inline-block;
	text-indent: -9999px;
	position: absolute;
	top:-19px;
	right: -52px;
}
.Header h1{
	font-size: 32px;
	text-align: center;
	padding: 10px;
	color: crimson;
}

.navigasi{
	margin:15px 0;
}
.navigasi ul li{
	margin:0 15px;
}

.navigasi li{
	display: inline;
}
.navigasi a{
	color: crimson;
}
.navigasi a:hover{
	color:blue;
}

.hero{
	height: 290px;
	background-image: url("img/axel.jpg");
	background-size: cover;
	background-position: -5px 0;
	border-top: 6px solid salmon;
	border-bottom: 6px solid green;
	margin-bottom: 10px;
}

.main{
	width: 550px;
	float: left;
	padding-left: 10px;
}
.main h2{
	font:28px monospace, serif;
}
.main h3 span{
	font:14px monospace, serif;
	color: black;
}
.main h3{
	font:14px monospace, serif;
	color: crimson;
	margin-bottom: 10px;
}
.main p {
	text-align: justify;
}
.sidebar{
	width: 380px;
	float: right;
}
.sidebar h3{
	font: 24px arial, serif;
	padding-bottom:10px;
	color: crimson;
}
.sidebar img{
	width: 100px;
	height: 150px;
	float: left;
	margin-right: 10px;
}
.sidebar span{
	color:blue;
}
/*Css Clearfix */
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

/*footer*/
.footer {
	margin: 10px 0;
	background-color: black;
	color: #fff;
	text-align: center;
}

